{
    "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["cn", "cva"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}
